*{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
}

body{
    background-color: #E8E6F5;
}
.header{
    background-color: #fafafa;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.header img{
    height: 60px;
    width: 60px;
}

.header-itext{
    display:flex;
}
.header-itext h1{
    margin: 16px;
    font-size: 24px;
    /*left: 10px;*/
}
.header span{
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-size: 28px;
}
.header .h-icons{
    transform: scale(1.5);
    margin: 25px;
    padding: 5px;  
}
.h-icons a{
    color: #000;
    padding:10px;
}
.h-icons a:hover{
    color: #1215C5;
}

/*learner overview*/
.cards{
    /*border: 1px solid #000;*/
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    max-width: max-content;
    /*width: 100%;*/
}

.icon-text {
  display: flex;
  align-items: center;
  gap: 8px; /* space between icon and text */
}
.card1, .card2, .card3{
    /*border: 1px solid #000;*/
    background-color: #fafafa;
    height:150px;
    width: 270px;
    border-radius: 10px;
    margin: 10px 20px;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card1 h3, .card2 h3{
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin: 15px;
    /*border: 1px solid #000;*/
}

.card3 h3{
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    margin:15px;
    margin-left: 70px;

}

.card1 img{
    margin-left: 30px;
    width: 50px;
    height: 50px;
   
}
.card2 img{
    width: 50px;
    height: 50px;
    margin-left: 30px;
}

.card3 img{
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: 10px;
    margin-top: 20px;
}

.progress-text{
    color: #1215C5;
    font-weight: bold;
    font-size: 24px;
    text-align: center;

}

/*Softskill category text styling*/
.s-category{
    /*border: 1px solid #000;*/
    display: flex;
    width: 100%;
}
.s-category a{
    margin: 25px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin-left: 600px;
}
.s-category a:hover{
    text-decoration: underline;
}
h2{
    margin: 20px 30px;
  
}

/*Progress check*/
#card{
    /*border: 1px solid #000;*/
    display: flex;
    flex-wrap: wrap;
}
#card-1, #card-2{
   /* border: 1px solid #000;*/
    background-color: #fafafa;
    width: 420px;
    height: 94px;
    text-align: left;
    border-radius: 10px;
    margin: 5px 30px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding-bottom: 10px;
}


#card-1 img{
    /*border:1px solid #000;*/
    width:50px;
    height: 50px;
}

#card-1 h4, #card-2 h4{
    /*border: 1px solid #000;*/
    margin: 15px;
    font-size: 18px;
}

/* progress bar*/

/* Progress bar container */
.progress-container {
  /*width: 100%;*/
  margin-top: 10px;
  
}

/* Outer progress bar */
.progress-bar {
  position: absolute;
  background-color: #e0e0e0;
  border-radius: 8px;
  overflow: hidden;
  height: 15px;
  width: 210px;
  margin-left: 15px;
  /*margin: 20px;*/
}

/* Inner fill */
.progress-fill {
  height: 100%;
  background-color: #27c32c;
  width: 0%;
  transition: width 0.4s ease;
}

/* Text showing the percentage */
.progress-percentage {
  font-size: 18px;
  color: #000;
  margin-left: 235px;
  /*margin-bottom:30px;*/
  font-weight: bold;
  display: inline-block;
}

/* Continue button */
.continue-btn {
    margin-left: 300px;
    margin-bottom: 30px;
    /*padding:20px;*/
    text-decoration: none;
    color: #1215C5;
    font-size: 18px;
    font-weight: bold;
    padding: 0px 0px 10px 10px;
  display: inline-block;
}

.continue-btn:hover {
  text-decoration: underline;
}

/*styling category boxes*/
.category{
    display: flex;
    /*flex-wrap: wrap;*/
    width: 100%;
}

.box1, .box2, .box3{
    /*border: 1px solid #000;*/
    background-color: #fafafa;
    margin: 5px 30px;
    border-radius: 10px;
    width: 275.13px;
    height: 150px;
    padding: 10px;
     box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

h3{
padding: 5px;
}

p{
    padding: 10px;
    font-size: 16px;
}

.box1 a, .box2 a, .box3 a{
    padding: 10px;
    margin-left: 130px;
    text-decoration: none;
    color: #1215C5;
    font-weight: bold;
      
}
.box1 a:hover, .box2 a:hover, .box3 a:hover{
    text-decoration: underline;
}

/*Notfication panel*/
.dashboard-layout {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.main-content {
  flex: 1;
}

.notification-panel {
    
    background-color: #fafafa;
    width: 300px;
    border-left: 4px solid #1215C5;
    padding: 20px;
    border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.notification-panel h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
  border-bottom: 2px solid #333;
}

.notification-panel .notification1,
.notification-panel .notification2 {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #d9d9d9;
  border-radius: 8px;
}

.notification1 p, .notification2 p{
    border-left: 5px solid #67a005;
    padding: 5px;
}
.notification1 a{
    margin: 10px;
    text-decoration: none;
    color: #000;
}

.notification1 a:hover{
    text-decoration: underline;
    color: #000;
    font-weight: bold;
}

.btn-download {
  display: inline-block;
  margin-top: 10px;
  background-color:#1215C5 ;
  color: white;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn-download:hover, .quick-practice:hover, .take-quiz:hover{
    cursor: pointer;
    color: #fff;
    font-size: 18px;
}

.bottom-container{
    display: flex;
    flex-wrap: wrap;
}

/*Chatbot and cta quiz containers*/
.container1, .container2{
    background-color: #fafafa;
    width: 450px;
    height: 145px;
    margin: 15px 30px;
    padding: 10px;
    border-radius: 10px;
}

.container1 img{
    position: absolute;
    width:161.94px;
    height: 161.94px;
}

.container1 h3{
    text-align: center;
    font-size: 30px
}

.container1 a{
    font-size: 24px;
    text-align: center;
    margin-left:150px;
    margin-top: 50px;
}

.container2 a{
    font-weight: 20px;
    margin-left: 150px;
}
.quick-practice, .take-quiz{
      display: inline-block;
      margin-top: 10px;
      background-color:#1215C5 ;
      color: white;
      padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}
.n-icons{
    display: flex;
  align-items: center;
  gap: 3px;
}
.n-icons img{
    width: 30px;
    height: 30px;
    margin: 5px;
}

/* ========== FOOTER ========== */
.footer-section {
  background-color: #FAFAFA;
  border-top: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.footer-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-navlink {
  color: #000;
  text-decoration: none;
  font-weight: 500;
}

.footer-copy {
  font-weight: 500;
}