@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.reset-card {
  background: #fafafa;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.25);
  max-width: 400px;
  width: 100%;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #1251c5;
  font-size:25px;
  font-weight: bold;
}

.hinting{
  font-size: 15px;
  font-weight:bold;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 8px;
  color: #000000;
}
.required{
  color:#e91e63;
}

input {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 18px;
  background-color: #f2f2f2;
}

input:hover{
  background-color: #fff;
}

button {
  padding: 12px;
  width: 200px;
<<<<<<< HEAD
  background-color: #15991a;
=======
  background-color: #1251c5;
>>>>>>> 6c144cfa31231e72cdd695434e412f4c51cb7c3b
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  margin: 0 auto;
}

button:hover {
<<<<<<< HEAD
  background-color: #42a447;
=======
  background-color: #2196F3;
>>>>>>> 6c144cfa31231e72cdd695434e412f4c51cb7c3b
}

#message {
  margin-top: 15px;
  color: #e91e63;
  text-align: center;
}

.login-link {
  display: block;
  margin-top: 20px;
  text-align: center;
  color: #2196F3;
  text-decoration: none;
}

.login-link:hover {
  text-decoration: underline;
}
